.container {
  background-color: #ffcc1b;
  border-radius: 20px;
  border: 8px solid #ffcc1b;
}
.containerOne {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  border: 8px solid #ffe608;
}

.containerBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.btnMachine {
  width: 200px;
}

.title {
  font-size: 60px;
}

.containerImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100;
  width: 100;
}

.containerMachine {
  height: 100;
}
